Aplicacion/backend/myvenv/
Aplicacion/backend/myenv/
Aplicacion/frontend/node_modules/
Aplicacion/backend/__pycache__/
Aplicacion/backend/static/checkpoint-15ML-15ep-data-all30-512bz-loss30-con-tildes-512em-512h-etapa4.pt
